<!DOCTYPE html>
<html lang="es">
<head>
  <% include ./partials/header.ejs %>
</head>
<body>
  <div id="app">
    <!-- CSS Grids from the getgo? -->
    <!--
    <div class="header clearfix center" style="margin-bottom: 20px">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item"> <a class="nav-links btn" href="#/registrar" >Registrador</a> </li>
          <li class="nav-item"> <a class="nav-links btn" href="#/facturas" >Facturas</a> </li>
          <li> <a class="nav-links" ui-sref="logger" >Registrador</a> </li>
          <li> <a class="nav-links" ui-sref="invoice" >Facturas</a> </li>
        </ul>
      </nav>
    </div>
    -->

    <h3 class="white title">ScreenTime</h3>
    <div id="formm" class="row" ng-app="ElectricApp" ng-controller="ElectricController" ng-init="start()">
      <!-- <div style="width: 100%" ui-view></div> -->
      <!-- <ui-view style="width: 100%"></ui-view> -->

      <!-- I want a count down to registration... -->
      <div ng-show="hide_form">
        <h5 class="center white" >Investments Round Opens this Saturday</h5>
        <div id="clockdiv">
          <div>
            <span id="days_left">99</span>
            <div class="smalltext">Days</div>
          </div>
          <div>
            <span id="hours_left">99</span>
            <div class="smalltext">Hours</div>
          </div>
          <div>
            <span id="minutes_left">99</span>
            <div class="smalltext">Minutes</div>
          </div>
          <div>
            <span id="seconds_left">99</span>
            <div class="smalltext">Seconds</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
<script src="/public/angular/angular.js"></script>
<script src="/public/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/public/lodash/dist/lodash.min.js"></script>

<!-- Application Source Code -->
<!-- All dependent JS files: app.js, routes, factory, controller -->
<script src="/app/app.js"></script>
<script src="/app/client.routes.js"></script>
<script src="/app/factory.js"></script>
<script src="/app/controller.js"></script>

</html>