<base href="/">
<meta charset="utf-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
<title>ScreenTime</title>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script src="/public/jquery-3.2.1.slim.min.js"></script>
<script src="/public/popper.min.js"></script>
<script src="/public/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />