<h4 class="center white padded" style="grid-row: 2;">First round of investments are now closed.... catch us next round soon!</h4>

<!-- 
<div style="grid-row: 3; height: 50%;" id="clockdiv">
  <p>&nbsp;</p>
  
  <div>
    <span id="days_left">99</span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span id="hours_left">99</span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span id="minutes_left">99</span>
    <div class="smalltext">Mins</div>
  </div>
  <div>
    <span id="seconds_left">99</span>
    <div class="smalltext">Secs</div>
  </div>  

  <p>&nbsp;</p>
</div>


<center style="grid-row: 1;" class="padded">
  <button data-toggle="modal" data-target="#investment_form" class="btn btn-primary">Join Us!</button>
</center>

<center>
<div class="modal hide" id="investment_form" 
      tabindex="-1" role="dialog"
      data-keyboard="true">

  <div class="modal-content">
    <h3 class="center padded">Investment Form</h3>

    <div class="form-group padded">
    <input placeholder="GatorLink Username (the start of your UF email)" ng-model="investor.gatorlink" type="text" style="margin-bottom: 0;">
    </div>

    <div class="modal-body" ng-show="found.hasOwnProperty(investor.gatorlink.toLowerCase())">
    <form ng-submit="email(investment_form.$valid)">

      <div class="form-group" style="margin-top: -25px;">
        <b>Hi {{found[investor.gatorlink.toLowerCase()]}}!</b>
      </div>
      
      <div class="form-group">
        <span>How many checks do you want to invest in us?</span>
        <br>
        <select ng-model="investor.checks" ng-options="num for num in range"required>
        </select>
      </div>

      <div class="form-group">
        <span><b>Optional:</b> What's another email that you check more often than your UFL's?</span>
        <br>
        <input placeholder="Extra Email" ng-model="investor.extra_emails" type="email">
      </div>

      <div class="form-group">
      <input class="hidden" type="submit" data-dismiss="modal" data-target="#investment_form">
      <input value="Let's build great things together!" 
             class="btn btn-success form-group" type="submit"
             style="margin-bottom: -25px;">
      </div>
    </form>
    </div>

    <div class="padded" ng-hide="us.indexOf(investor.gatorlink.toLowerCase()) != -1 || found.hasOwnProperty(investor.gatorlink.toLowerCase())">
      If entering your GatorLink does nothing, please <a href="mailto:investments@screentimeuf.com" target="_blank"> email us </a>
    </div>

    <div class="padded" ng-show="us.indexOf(investor.gatorlink.toLowerCase()) != -1">
      Sorry guys, we can't invest in our own company</div>

    <div>&nbsp;</div>
    <button class="btn btn-danger padded" ng-click="reset()">Clear and Return</button>
  </div>
</div>
</center>
-->
