
body {
  height: 1000px;
  height: -webkit-fill-available;
  /*overflow: hidden;*/

  /*background: linear-gradient(to top right, #fc00ff, #00dbde);*/
  background-repeat: no-repeat;
  font-family: Lato, sans-serif;

}

/*
form input {
  display: block;

  width: 100%;
  color: #495057;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 1rem;

  background-color: #fff;
  background-image: none;
  background-clip: padding-box;

  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
*/

#app {
  /* CSS Grids!!! OP */
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 4fr;
}

.title {
  grid-row: 2;
  text-align: center;
  font-size: 60px;
}

.hide_form {
  width: 100%;
  background-color: rgba(133, 87, 4, 0.58);
}

#clockdiv {
  text-align: center;
  justify-self: center;

  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr .25fr 1fr;

  font-size: 35px;
  font-weight: 100;
  font-family: sans-serif;
}

#clockdiv > div {
  justify-self: center;

  color: white;
  background: rgba(21, 87, 36, 0.68);

  width: 100px;
  padding: 10px;
  border-radius: 150px;
}

#clockdiv > div:nth-of-type(n){
  margin-right: 10px;
}

.smalltext {
  font-size: 16px;
  padding-bottom: 5px;
}

#formm {
  grid-row: 3;
  align-self: center;
  justify-self: center;

  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/dependencies/background.jpg");
}

#sub {
  grid-row: 1;
  grid-column: 1/7;

  align-self: center;
  justify-self: center;

  color: white;
  font-size: 25px;
}

#about-us {
  width: 50%;
  grid-row: 4;

  text-align: center;
  align-self: center;
  justify-self: center;
}

.modal {
  margin: 30px;
  margin-top: 25vh;
}

/* Responsiveness Galore */
@media (max-height: 1050px) {
  #app {
    zoom: 75%%;
  }
}

@media (max-height: 740px) {
  #app {
    zoom: 75%%;
  }
}
  
@media (min-height: 1050px) {
  #app {
    zoom: 150%;
  }

}

@media (max-width: 740px) {
  #app {
    zoom: 80%;
  }
}

@media (max-width: 350px) {
  #app {
    zoom: 70%;
  }
}

@media (min-width: 1050px) {
  #clockdiv {
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 4fr;
  }
}






























.money_input:focus {
  border-color: green;
  outline-color: green;
}

/*
.money_input:focus + .money_symbol {
  color: green;
  display: inline;
}

the abosoluteness is not maintainable 
.money_symbol {
  // z-index: 1
  display: none;
  position: absolute;
  font-weight: bold;
}
*/


.form-group > * {
  width: 90%;
}

.padded {
  padding: 15px;
}

.center {
  text-align: center;
}

.white {
  color: white;
}

.hidden {
  display: none;
}

.nav-pills .nav-link {
  border-radius: .25rem;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

/* Old */
.jumbotron {
  background: #532F8C;
  /*color: white;*/
  padding-bottom: 80px;
}

#dale {
  color: white;
  background: #38cc70;
  border-color: #38cc70;
}

#dale:hover {
  background: #2ba659;
  border-color: #2ba659;
}

.pres {
  color: white;
  background-color: grey;
}

.pres:hover {
  background-color: black;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar+.jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}

.jumbotron .lang-logo img {
  max-width: 100%;
}