
body {
  height: 1000px;
  height: -webkit-fill-available;
  overflow: hidden;

  background: linear-gradient(to top right, #fc00ff, #00dbde);
  background-repeat: no-repeat;
  font-family: Helvetica, sans-serif;
}

#app {
  /* CSS Grids!!! OP */
  /* Flex box is needed on the below */
  display: grid;
  grid-template-rows: 11fr 5fr 5fr 3fr;
  grid-template-columns: 2fr 4fr 2fr;
}

form input {
  display: block;

  width: 100%;
  color: #495057;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 1rem;

  background-color: #fff;
  background-image: none;
  background-clip: padding-box;

  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*
h1 {
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}
*/

#clockdiv {
  /*width: 400px;*/
  text-align: center;
  justify-self: center;
  /*border-radius: 3px;*/

  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  
  font-size: 35px;
  font-weight: 100;
  font-family: sans-serif;
}

#clockdiv > div {
  background: black;
  color: white;

  width: 95px;
  padding: 10px;

  /*background: #00bf96;*/
  /*display: inline-block;*/
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;

  /*background: #00816a;*/
  /*display: inline-block;*/
}

.smalltext {
  font-size: 16px;
  padding-top: 5px;
}

#formm {
  grid-row: 3;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.title {
  grid-row: 2;
  grid-column: 2;
  text-align: center;

  font-size: 40px;
}

.money_input:focus {
  border-color: green;
  outline-color: green;
}

/*
.money_input:focus + .money_symbol {
  color: green;
  display: inline;
}

the abosoluteness is not maintainable 
.money_symbol {
  // z-index: 1
  display: none;
  position: absolute;
  font-weight: bold;
}
*/

.center {
  text-align: center;
}

.white {
  color: white;
}

.hidden {
  display: none;
}

.nav-pills .nav-link {
  border-radius: .25rem;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

/* Responsiveness Galore */
@media (max-height: 1050px) {
  #app {
    grid-template-rows: 11fr 2fr 4fr 3fr;
  }
}

@media (max-height: 740px) {
  #app {
    grid-template-rows: 6.5fr 2fr 4fr 3fr;
  }
}

@media (min-height: 1050px) {
  #app {
    grid-template-rows: 17fr 2fr 5fr 3fr;
  }

  h5 {
    font-size: 25px;
  }

  .title {
    font-size: 50px;
  }

  #clockdiv > div {
    width: 120px;
  }
}

@media (max-width: 740px) {
  #clockdiv > div {
    width: 80px;
    font-size: 30px;
  }
}

@media (max-width: 350px) {
  #clockdiv > div {
    width: 77px;
    padding: 5px;
    font-size: 25px;
  }
}

/* Old */
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
  background: #7646c1;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar+.jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}

.jumbotron .lang-logo img {
  max-width: 100%;
}